# Ignore build directory
build/

#Ignore VScode files
.vscode

# Ignore CMake cache and temporary files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Ignore your CMakeLists.txt (optional, as requested)
CMakeLists.txt
code_standards.txt

#ignore config
config.cpp
